extends Layout
block content
    title All Places
    div
      h3 #{v1}
      br
      table.Table
        tr
            th place_name
            th street_name
            th street_number
            th city
            th google_site
            th openHSunThur
            th closeHSunThur
            th openHFri
            th closeHFri
            th openHSat
            th closeHSat
            th contact_number

        each n in PLACES
            tr
            td= n.place_name
            td= n.street_name
            td= n.street_number
            td= n.city
            td= n.google_site
            td= n.openHSunThur
            td= n.closeHSunThur
            td= n.openHFri
            td= n.closeHFri
            td= n.openHSat
            td= n.closeHSat
            td= n.contact_number