extends Layout
block content
    title All Users
    div
      h3 #{v1}
      br
      table.Table
        tr
            th first_name
            th last_name
            th username
            th email
            th password
            
        each n in USERS
            tr
            td= n.first_name
            td= n.last_name
            td= n.username
            td= n.email
            td= n.password
